body{
    padding: 0;
    margin: 0;
}

ul{
    width: 100%;
    padding: 0;
    margin: 0;
}

.loan-app-info
{
    display: flex;
    justify-content: space-around;
}
.loan-app-tag
{
    width: 80%;
    display: flex;
    justify-content: space-around;
}