body{
    padding: 0;
    margin: 0;
}

div{
    width: 165px;
}

h4{
    padding: 0;
    margin: 0;
}

ul{
    width: 100%;
    padding: 0;
    margin: 0;
}

.loan-app-info
{
    display: flex;
    justify-content: space-between;
}
.loan-app-tag
{
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.errors
{
    display: flex;
    justify-content: flex-start;
}