{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/loan_app.css' %}">

    <title>Title</title>
</head>
<body>


<ul>
    <li class="loan-app-info my_width">

        <div class="loan-app-info"><input id="input_client_fk_id" placeholder="search phone number">
            <button id="client_fk_id" onclick="search(this)">&#x1F50D</button>
        </div>
        <div class="loan-app-info"><input id="input_product" placeholder="search product" value="{{ info.id.value }}">
            <button id="product" onclick="search(this)">&#x1F50D</button>
        </div>
        <div class="loan-app-info"><input id="input_solution" placeholder="search solution" value="{{ info.id.value }}">
            <button id="solution" onclick="search(this)">&#x1F50D</button>
        </div>
        <div class="loan-app-info"><input id="input_date_application" placeholder="search date"
                                          value="{{ info.id.value }}">
            <button id="date_application" onclick="search(this)">&#x1F50D</button>
        </div>
        <div class="loan-app-info"><input id="input_text_comment" placeholder="search comment"
                                          value="{{ info.id.value }}">
            <button id="comment" onclick="search(this)">&#x1F50D</button>
        </div>


    </li>
    <li class="loan-app-tag">
        <div class="loan-app-info"><h4>Номер клиента</h4>
            <a href="?page={{ info_in_page.number }}&sort=client_fk-from_down">↓</a>
            <a href="?page={{ info_in_page.number }}&sort=client_fk-from_top">↑</a>
        </div>

        <div class="loan-app-info"><h4>Продукт</h4>
            <a href="?page={{ info_in_page.number }}&sort=product-from_down">↓</a>
            <a href="?page={{ info_in_page.number }}&sort=product-from_top">↑</a>
        </div>

        <div class="loan-app-info"><h4>Решение</h4>
            <a href="?page={{ info_in_page.number }}&sort=solution-from_down">↓</a>
            <a href="?page={{ info_in_page.number }}&sort=solution-from_top">↑</a>
        </div>

        <div class="loan-app-info"><h4>Дата</h4>
            <a href="?page={{ info_in_page.number }}&sort=date_application-from_down">↓</a>
            <a href="?page={{ info_in_page.number }}&sort=date_application-from_top">↑</a>
        </div>

        <div class="loan-app-info"><h4>Комментарий</h4>
            <a href="?page={{ info_in_page.number }}&sort=text_comment-from_down">↓</a>
            <a href="?page={{ info_in_page.number }}&sort=text_comment-from_top">↑</a>
        </div>


    </li>
    <a href="?page={{ info_in_page.number }}">Сбросить сортировку</a>
    <span id="main_info">
        {% for info in info_in_page %}


            <form method="post" action="/">
                {% csrf_token %}
                <li class="loan-app-info">
                    <input id="id" name="id" type="hidden" value="{{ info.id.value }}">
                    <div>{{ info.phone_number }}
                        <div>
                            <button type="submit">Сохранить</button>
                        </div>
                    </div>
                    <div>{{ info.product }}</div>
                    <div>{{ info.solution }}</div>
                    <div>{{ info.date_application }}</div>
                    <div>{{ info.comment }}</div>
                    {% if info.error %}
                        {{ info.error }}
                    {% endif %}
                </li>
            </form>


        {% endfor %}
    </span>


</ul>

<div class="pagination">
 <span class="step-links">
  {% if info_in_page.has_previous %}
      <a href="?page={{ info_in_page.previous_page_number }}">Previous</a>
  {% endif %}
     <span class="current">
  Page {{ info_in_page.number }} of {{ info_in_page.paginator.num_pages }}.
    </span>
     {% if info_in_page.has_next %}
         <a href="?page={{ info_in_page.next_page_number }}">Next</a>
     {% endif %}
  </span>
</div>
<form method="post" action="/">
    {% csrf_token %}
    <li class="loan-app-info">

        <div>{{ form.phone_number }}
            <div>
                <button type="submit">Создать</button>
            </div>
        </div>
        <div>{{ form.product }}</div>
        <div>{{ form.solution }}</div>
        <div>{{ form.date_application }}</div>
        <div>{{ form.comment }}</div>


    </li>

</form>
{% if form.errors %}
    <li class="errors">
        {% for field, error in form.errors.items %}
            <div>
                <b>{{ field }}</b> {{ error }}
            </div>
        {% endfor %}
    </li>
{% endif %}

<script src="{% static 'js/search_for_table.js' %}" rel="script"></script>
</body>
</html>