{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/loan_app.css' %}">
    <title>Title</title>
</head>
<body>


<ul>
    <li class="loan-app-tag">

        <div><h4>Номер клиента</h4></div>
        <div><h4>Продукт</h4></div>
        <div><h4>Решение</h4></div>
        <div><h4>Дата</h4></div>
        <div><h4>Комментарий</h4></div>

    </li>
    {% for info in info_in_page %}


        <form method="post" action="/">
            {% csrf_token %}
            <li class="loan-app-info">
                <input name="id" type="hidden" value="{{ info.id.value }}">
                <div>{{ info.phone_number }}</div>
                <div>{{ info.product }}</div>
                <div>{{ info.solution }}</div>
                <div>{{ info.date_application }}</div>
                <div>{{ info.comment }}</div>
                <div>
                    <button type="submit">Сохранить</button>
                </div>

            </li>
        </form>


    {% endfor %}
    <form method="post" action="/">
        {% csrf_token %}
        <li class="loan-app-info">
            <div>{{ form.phone_number }}</div>
            <div>{{ form.product }}</div>
            <div>{{ form.solution }}</div>
            <div>{{ form.date_application }}</div>
            <div>{{ form.comment }}</div>
            <div>
                <button type="submit">Создать</button>
            </div>


        </li>
    </form>
</ul>

<div class="pagination">
 <span class="step-links">
  {% if info_in_page.has_previous %}
      <a href="?page={{ info_in_page.previous_page_number }}">Previous</a>
  {% endif %}
     <span class="current">
  Page {{ info_in_page.number }} of {{ info_in_page.paginator.num_pages }}.
    </span>
     {% if info_in_page.has_next %}
         <a href="?page={{ info_in_page.next_page_number }}">Next</a>
     {% endif %}
  </span>
</div>
</body>
</html>