{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/loan_app.css' %}">

    <title>Title</title>
</head>
<body>


<ul>
    <li class="loan-app-tag">
        <div class="loan-app-info"><h4>Номер клиента</h4>
            <a href="?page={{ info_in_page.number }}&sort=client_fk-from_down">↓</a>
            <a href="?page={{ info_in_page.number }}&sort=client_fk-from_top">↑</a>
        </div>

        <div class="loan-app-info"><h4>Продукт</h4>
            <a href="?page={{ info_in_page.number }}&sort=product-from_down">↓</a>
            <a href="?page={{ info_in_page.number }}&sort=product-from_top">↑</a>
        </div>

        <div class="loan-app-info"><h4>Решение</h4>
            <a href="?page={{ info_in_page.number }}&sort=solution-from_down">↓</a>
            <a href="?page={{ info_in_page.number }}&sort=solution-from_top">↑</a>
        </div>

        <div class="loan-app-info"><h4>Дата</h4>
            <a href="?page={{ info_in_page.number }}&sort=date_application-from_down">↓</a>
            <a href="?page={{ info_in_page.number }}&sort=date_application-from_top">↑</a>
        </div>

        <div class="loan-app-info"><h4>Комментарий</h4>
            <a href="?page={{ info_in_page.number }}&sort=text_comment-from_down">↓</a>
            <a href="?page={{ info_in_page.number }}&sort=text_comment-from_top">↑</a>
        </div>


    </li>
    <a href="?page={{ info_in_page.number }}">Сбросить сортировку</a>
    {% for info in info_in_page %}


        <form method="post" action="/">
            {% csrf_token %}
            <li class="loan-app-info">
                <input name="id" type="hidden" value="{{ info.id.value }}">
                <div>{{ info.phone_number }}</div>
                <div>{{ info.product }}</div>
                <div>{{ info.solution }}</div>
                <div>{{ info.date_application }}</div>
                <div>{{ info.comment }}</div>
                <div>
                    <button type="submit">Сохранить</button>
                </div>
                {% if info.error %}
                    {{ info.error }}
                {% endif %}
            </li>
        </form>


    {% endfor %}
    <form method="post" action="/">
        {% csrf_token %}
        <li class="loan-app-info">

            <div>{{ form.phone_number }}</div>
            <div>{{ form.product }}</div>
            <div>{{ form.solution }}</div>
            <div>{{ form.date_application }}</div>
            <div>{{ form.comment }}</div>
            <div>
                <button type="submit">Создать</button>
            </div>


        </li>

    </form>
    {% if form.errors %}
        <li class="errors">
            {% for field, error in form.errors.items %}
                <div>
                    <b>{{ field }}</b> {{ error }}
                </div>
            {% endfor %}
        </li>
    {% endif %}
</ul>

<div class="pagination">
 <span class="step-links">
  {% if info_in_page.has_previous %}
      <a href="?page={{ info_in_page.previous_page_number }}">Previous</a>
  {% endif %}
     <span class="current">
  Page {{ info_in_page.number }} of {{ info_in_page.paginator.num_pages }}.
    </span>
     {% if info_in_page.has_next %}
         <a href="?page={{ info_in_page.next_page_number }}">Next</a>
     {% endif %}
  </span>
</div>

<script src="{% static 'js/scripts_for_change_href.js' %}" rel="script"></script>
</body>
</html>